/*
Theme Name: Cyberclean
Description: https://drupal.cyberatuc.org/
*/

// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
  background: $white;
}

.content h1, .content h2, .content h3, .content h4 {
  clear: both;
}

.big-lead {
  @extend .lead;
  font-size: 1.5rem;
}

.field .field__label {
  font-weight: bold;
  &:after {
    content: ': ';
  }
}

.node__meta .field--name-user-picture img.image-style-thumbnail {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0;
}
.node__meta {
  display: flex;
  height: 50px;
  align-items: center;
}
.node__meta__author {
  font-style: italic;
}

.site-footer {
  margin-top: $spacer;
}

/* IMAGES
--------------------------------------------------*/

img[data-responsive-image-style="narrow"] {
  margin-bottom: $spacer;
  &.align-left {
    margin-right: $spacer;
  }
  &.align-right {
    margin-left: $spacer;
  }
}

img[data-responsive-image-style="wide"] {
  @extend .img-fluid;
}

.field-hero-image img {
  @extend .img-thumbnail;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  width: 100%;
}

/* COLORS
--------------------------------------------------*/

a {
  color: $primary-shade;
}

.bg-inverse {
  background: $accent-shade !important;
}

.layout-main-wrapper {
  margin-top: $spacer;
}

.site-footer {
  background: $primary-shade !important;

  a {
    color: $white;
  }
  .region .block {
    margin-right: $spacer;
  }
}

.menu--main li a {
  color: $accent-shade;
}

.menu--account li a {
  color: $accent-shade;
}

.site-name-slogan a {
  text-decoration: none;
}

.card-group img {
  margin: 0;
  width: 100%;
  height: auto;
}

.card-group .field--type-image {
  margin: 0
}

.slick {
  width: 100%;
}

.slick>div {
  margin: 0 15px;
}


/* HOME PAGE
-------------------------------------------------*/

body.path-frontpage {
  .layout-main-wrapper, .node__content {
    margin-top: 0;
  }

  .home-jumbotron-main {
    background: url('../images/flickr-fusion_of_horizons-1534739047-dark.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 12%;
    padding-bottom: 12%;
    color: $light;
    h1 {
      font-size: $display4-size;
      font-weight: $display4-weight;
      line-height: $display-line-height;
      @include media-breakpoint-up(sm) {
        font-size: $display2-size;
        font-weight: $display2-weight;
      }
    }
  }
  .home-container > .row {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .home-whatwedo {
    text-align: center;
    h1 {
      margin-bottom: 2rem;
    }
    .item-box {
      @extend .col-6;
      @extend .col-lg-3;
      i {
        font-size: 7em;
        color: $primary-shade;
      }
      h2 {
        color: $primary-shade;
        @include media-breakpoint-up(sm) {
          font-size: $h1-font-size;
        }
      }
    }
  }
  .home-getconnected {
    .btn {
      margin-bottom: 0.5rem;
    }
  }
}

/* MEETINGS
-------------------------------------------------*/

body.node--type-meeting {
  .meeting-details {
      font-weight: bold;
      margin-bottom: $spacer;
  }
  .meeting-details .field,
  .meeting-details .field__label,
  .meeting-details .field__item {
      display: inline;
  }
  .meeting-details .field:not(:last-child):after {
      content: ' • ';
  }
}
