{% extends 'page.html.twig' %}
{% block content %}
  <div id="main">
    {{ page.breadcrumb }}
    <div class="row-fluid row-offcanvas row-offcanvas-left clearfix">
        <main{{ content_attributes.removeClass('col') }}>
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
      {% if page.sidebar_first %}
        <div{{ sidebar_first_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}
      {% if page.sidebar_second %}
        <div{{ sidebar_second_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
